*.sudo
*.idea
*web.config
*.config
*.vscode
node_modules
*node_modules
*__pycache__
__pycache__
db.sqlite3
*db.sqlite3
*launch.json
*settings.json
node_modules
.env
*env
.dccache
*.dccache
..gitignore.un~
*..gitignore.un~
*.gitignore~
.gitignore~
node_modules/
node_modules
Deltaline-API/Testers
Deltaline-API/Databases