[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html5validator = "==0.4.0"
python-dotenv = "==0.19.1"
django-environ = "==0.8.1"
django-secrets = "==1.0.2"
Django = "==3.2.9"
pipenv = ">=2021.5.29"
black = "==21.9b0"
isort = "==5.9.3"
autopep8 = "==1.6.0"

[dev-packages]

[requires]
python_version = "3.9"
