[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html5validator = "*"
python-dotenv = "*"
orjson = "*"
sanic = "*"

[dev-packages]
black = "*"
isort = "*"
autopep8 = "*"
autoflake = "*"
pyflakes = "*"

[requires]
python_version = "3.10"
