[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html5validator = "==0.4.0"
python-dotenv = "==0.19.1"
django-environ = "==0.7.0"
django-secrets = "==1.0.2"
Django = "==3.2.8"
pipenv = ">=2021.5.29"

[dev-packages]

[requires]
python_version = "3.9"
