body {
  background-image: url('bow down.png'); width:fit-content; 
}

.centerImage
{
 text-align:center;
 display:block;
 position: relative;
 bottom: -50px;
 left: 783px;
}

.centerText
{
 text-align: center;
 font-family: 'Courier New', Courier, monospace;
 position: relative;
 bottom: -50px;
 left: 675px;
}

  .button1 {
    background-color: cornflowerblue;
    border: none;
    color: rgb(255, 174, 174);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: -50px;
    left: 480px;
    width: 50%;
    border-radius: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  .buttonanimation1 {
    background-color: rgb(145, 211, 255);
    color:white;
    font-weight: bolder;
  }

  .buttonanimation1:hover { 
    background-color: rgb(151, 128, 255);
    color:rgb(255, 255, 255);
    font-weight: bolder;
  }

  .button2 {
    background-color: cornflowerblue;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 50px;
    left: 1150px;
    width: 50%;
    border-radius: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
  }

  .buttonanimation2 {
    background-color: rgb(145, 211, 255);
    color:white;
    font-weight: bolder;
  }

  .buttonanimation2:hover { 
    background-color: rgb(151, 128, 255);
    color:rgb(255, 255, 255);
    font-weight: bolder;
  }