.jumbotron-3 {
    display: flex;
    background-image: linear-gradient(120deg, #9c9fff, #b8eeff, #ed94ff);
  }

.more-space2 {
    height: 20rem;
}

@media only screen and (max-width: 600px) {
    .jumbotron-3 {
        display: flex;
        background-image: linear-gradient(120deg, #9c9fff, #b8eeff, #ed94ff);
      }
}

.row-onev2 {
  background-color: white;
}


.header-font {
  font-family: 'Courier New', Courier, monospace;
  
}